<div class="fake_body">
	<div class="container">

		<form class="form-signin">
		      <img class="login_logo" src="<%= asset_path( 'homies_logo.png' ) %>" alt="Homies Logo" width="210">

		        <div class="about_text">
		          <p class="about_text">
		            Built from the desire to end the confusion behind shared costs among friends, Homies was born. At its core, Homies is a shared costs calculator that brings expense accountability into the visual realm. Going on a weekend trip? Share an apartment with roomates? Ever felt you were owed money but didn't know how to show it? Then Homies is for you.
		          </p>
		          <p class="contact">
		            Questions? Feel free to <a href="mailto:support@homies.com" class="purple">contact</a> us, and we'll be happy to help.
		          </p>

		          <p class="about_back">
		            <%= link_to 'Back', url_for(:back) %>
		          </p>
		        </div>

		      </form>

	</div>
</div>
