<p>Hi <%= @email %>,</p>

<p><%= @user.username %> has invited you to join h0mie$!<p>

<p>Sign-up now and make life easy so you can have more fun!<p>

<%= @url %>

<p>Warm Regards from the h0mie$ team,<br>

Armand, Stephen and Valentina</p>

