<footer>
    <div class="row">
      <div class="col-md-4">
        <ul class="left_footer_info">
          <li class="sphere_title">Vegas</li>
          <li><span class="left_descriptors">Created:</span> July 25, 2015</li>
          <li><span class="left_descriptors">Description:</span> Wild and crazy nights on the most famous strip...</li>
      </div>

      <div class="col-md-4">
          <ul class="large_expense">
            <li><span class="small_dollar">$</span>824</li>
            <li class="total_expense">total expenses</li>
          </ul>
      </div>


      <div class="col-md-4">
        <ul class="left_footer_info">
          <li class="homies"><span class="left_descriptors">Homies:</span> You, Armand, Stephen</li>
        </ul>

        <ul class="bottom_right_footer">
          <li class="view_button">View Sphere</li>
          <li class="edit">Edit</li>
          <li class="delete">Delete</li>
        </ul>

      </div>
    </div>
  </footer>