@import "bootstrap-sprockets";
@import "bootstrap";

// LOGIN STYLES
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 390px;
  padding-left: 50px;
  padding-right: 50px;
  border-left: 1px solid rgb(212, 212, 216);
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin #email {
  margin-bottom: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin #password {
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-lg {
  border-radius: 0;
  padding-bottom: 7px;
  padding-top: 7px;
  background-image: url("login_button.png");
  background-size: cover;
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  border-color: #826E98;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(142, 119, 153, 1)
}

body {
  background: #EEEFF0;
  padding-top: 0px;
  background-size: cover;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login_logo {
  position: absolute;
  top: 20%;
  left: 6%;
}

.btn-primary {
  border-color: rgba(46, 109, 164, 0);
  color: #ECECEC
}

a.signup {
  display: inline;
  float: right;
  color: rgb(128, 109, 153)
}

a.forgot_password {
  display: inline;
  color: rgb(128, 109, 153)
}

.forgot_signup {
  width: 289px;
  margin: 0 auto;
  margin-top: 15px;
  color: rgb(128, 109, 153)
}

// SIGN UP PAGE
.form-signin #user_email {
  margin-bottom: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin #user_password {
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin #user_username {
  margin-bottom: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin #user_img_url {
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#new_user{
	margin-top: 106px;
}

.signup_logo {
  position: absolute;
  top: 36%;
  left: 6%;
}

// FLASH MESSAGE STYLES
.alert-danger {
	background-color: #ADABCB;
	border-color: #ADABCB;
	color: #FFFFFF
}

// LOGIN SIGNUP BACKGROUND IMAGE

.fake_body {
  background-image: url("roller_4.jpg");
  background-size: cover;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}

// NAVIGATION BAR
#navigation {
    width: 100%;
    height: 120px;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(navbar.png);
    background-size: cover;
    position: fixed;
    z-index: 999;
    top: 0px
}

#navigation ul {
    height: auto;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    display: inline;
    position: absolute;
    padding-top: 52px;
}

#navigation li {
display: inline;
padding-top: 0px;
padding-left: 20px;
}

#navigation a {
    text-decoration: none;
    color: #7566A9;
    padding: 8px 8px 8px 8px;
}

#navigation a:hover {
    text-decoration: underline;
}

.wrap_nav_left {
  padding-top: 30px;
  padding-left: 30px;
  position: relative
}

.profile_pic {
  width: 49px;
  height: 47px;
  float: right;
  margin-right: 30px;
}

.profile_pic_img {
  width: 49px;
  height: 47px;
  margin-right: 0px;
}

.nav_signout {
  position: absolute;
  bottom: -3px;
  right: 30px;
  font-size: .9em;
  color: rgb(173, 173, 173)
}

a#nav_signout_linkto {
  font-size: 1em;
  color: rgb(173, 173, 173);
  padding-right: 0px
}

// FOOTER STYLES
footer {
  width: 100%;
  height: 200px;
  position: fixed;
  bottom: 0;
  background-image: url("footer_3.png");
  background-size: cover;
  border-top: 1px solid rgb(225, 226, 227);
}

.col-md-4 {
  height: 100%;
}

.row {
  height: 170px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: 0px;
  width: 100%;
}

.left_footer_info {
  list-style-type: none;
  padding-left: 20px;
  padding-top: 10px;
}
.sphere_title {
  font-size: 3em;
  font-weight: bold;
  color: #7566A9;
}

.left_descriptors {
  font-size: 1.1em;
  color: #7566A9;
  font-weight: bold;
}

.large_expense {
  font-size: 6em;
  font-weight: bold;
  list-style-type: none;
}

.small_dollar {
  font-size: 25px;
  font-weight: normal;
}

.large_expense {
  text-align: center;
  padding-left:0px;
  line-height: initial;
  padding-top: 18px;
  color: #7566A9;;
}

li.total_expense {
  font-size: 23px;
  color: #7566A9;
  font-weight: bold;
}

body {
  color: #5A5A5A;
}

.homies {
margin-top: 15px;
}

.bottom_right_footer {
  list-style-type: none;
  padding-left: 20px;
  padding-top: 47px;
}

.view_button {
  display: inline;
  margin-right: 40px;
  background-color: white;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 12px;
  color: #7566A9;
}

.edit {
  display: inline;
  margin-right: 40px;
  color: #7566A9;
}

.delete {
  display: inline;
  color: rgb(173, 173, 173)
}

// FLASH MESSAGES
.alert{
margin-bottom: 0px
}

// ABOUT PAGE
.about_text {
  height: 150px;
  width: 325px;
  font-size: 15px;
  color: #101010;
}

.contact {
  color: rgb(173, 173, 173);
  text-align: center;
}

.purple {
  color: #7566A9;
  font-weight: bold;
}

.about_back a {
  float: right;
  color: #7566A9;
}

// INVITE USER
.forgot_signup a {
  float: right;
  color: #7566A9;
}

// NEW SPHERE
.form-signin #sphere_description {
  margin-bottom: 15px;
}

.form-signin #sphere_name {
  margin-bottom: 15px;
}

.add_homies {
  color: #7566A9;
  font-weight: bold;
}

label {
  font-weight: normal
}

// EXPENSES INDEX
.spacer {
  height: 200px;
  width: 100%
}

.first_chart_header {
  font-size: 27px;
  text-align: center;
  margin-top: 175px;
  margin-bottom: 0px
}

.canvasjs-chart-credit {
  display: none
}

.add_expense {
  margin-top: 15px;
}

.no_underline a:hover {
  text-decoration: none;
}

.destroy_sphere {
  text-align: center;
  margin-top: 20px;
  font-color: #adadad
}

.grey {
  color: #8C8B8C;
}

